name: anidong
description: "aplikasi pendamping pecinta anime dan donghua!"

publish_to: 'none'

version: 1.0.1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  meta: ^1.11.0
  card_swiper: ^3.0.1
  google_fonts: ^6.2.1
  flutter_boxicons: ^3.2.0
  cached_network_image: ^3.4.1
  http: ^1.1.0
  provider: ^6.1.5
  shared_preferences: ^2.2.3
  sqflite: ^2.3.3+1
  path: ^1.9.1
  html: ^0.15.6
  webview_flutter: ^4.8.0
  url_launcher: ^6.3.0
  flutter_local_notifications: ^17.2.3
  timezone: ^0.9.0
  flutter_timezone: ^3.0.1
  connectivity_plus: ^6.1.0
  safe_device: ^1.3.8
  path_provider: ^2.1.4
  google_mobile_ads: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  sqflite_common_ffi: ^2.3.3

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
